@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,300;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

body{
    display: flex;
    flex-direction: column;

    fill: rgb(123, 123, 228);
}

header{
    display: flex;
    border-bottom: 1px solid gray;
    justify-content: center;
    align-items: center;
}

svg{
    width: 50px;
    height: 80px;
}

h1{
    font-size: 3rem;
    font-weight: 500;
    text-align: center;
    padding: 8px;
}

.container{
    padding: 8px;
    margin-top: 20px;

    /* background-color: red; */
}

button{
    cursor: pointer;
}

.addBookBtn{
    padding: 0.8rem;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 7px;
    border: 1px solid transparent;

    color: white;
    background-color: rgb(123, 123, 228);
}

dialog{
    /* background-color: blue; */
    border: none;
    border-radius: 6px;
}

form{
    display: flex;
    flex-direction: column;
    padding: 0.8rem;
}

::backdrop {
    display: flex;

    background-image: linear-gradient(
        45deg,
        rebeccapurple,
        rgb(123, 123, 228)
    );
    opacity: 0.75;
}

.form-field{
    margin-bottom: 10px;
}
