@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,300;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

body{
    display: flex;
    flex-direction: column;

    fill: rgb(123, 123, 228);
}

header{
    display: flex;
    border-bottom: 1px solid gray;
    justify-content: center;
    align-items: center;
}

svg{
    width: 50px;
    height: 80px;
}

h1{
    font-size: 3rem;
    font-weight: 500;
    text-align: center;
    padding: 8px;
}

.container{
    padding: 8px;
    margin-top: 20px;

    display: flex;
    flex-direction: column;
}

button{
    cursor: pointer;
}

.books-container > div > ul > button,
.addBookBtn,
#close,
#add{
    font-weight: 600;
    border-radius: 7px;
    border: 0px solid transparent;

    color: white;
}

.books-container > div > ul > button,
.addBookBtn{
    padding: 0.8rem;
}

.showDialogBox{
    margin-bottom: 35px;
    text-align: center;
}

.addBookBtn{
    padding: 0.8rem;
    font-size: 1rem;
    font-weight: 600;

    color: white;
    background-color: rgb(123, 123, 228);
}

dialog{
    /* background-color: blue; */
    border: none;
    border-radius: 6px;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

form{
    gap: 10px;

    display: flex;
    flex-direction: column;
    padding: 2rem;
    font-size: 1rem;
}

#add{
    margin: 10px 0;
    background-color: rgb(123, 123, 228);
}

#close,
#add{
    padding: 0.5rem;
}

#close{
    background-color: rgb(255, 106, 106);

}

::backdrop {
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: linear-gradient(
        45deg,
        rebeccapurple,
        rgb(123, 123, 228)
    );
    opacity: 0.75;
}

.form-field{
    margin-bottom: 10px;

    display: flex;
    gap: 25px;
    /* background-color: red; */
}

input{
    padding: 0.4rem;
    display: inline-block;
    width: 100%;
}

input[type="checkbox"]{
    width: auto;
}

::placeholder{
    color: gray;
    font-size: 0.95rem;
}

.books-container{
    display: grid;
    gap: 15px;
    grid-template-rows: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.books-container > div {
    background-color: rgb(209, 209, 255); 

    display: flex; 
    flex-direction: column; 

    margin: 10px 0; 
    padding: 10px;
    border-radius: 5px;

    text-align:  center;
}

.books-container > div > ul > li{
    list-style-type: none;
    margin: 10px 0;
}

.books-container > div > ul > button{
    margin-top: 20px;

    background-color: rgb(255, 106, 106);
}



